.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  background: #001D3D;
}

.footer-main {
  font-size: 0.95rem;
  font-weight: 400;
  color: #ccc;
  margin: 0.3rem 0;
}

.footer-sub {
  font-size: 0.75rem;
  color: #888;
  margin: 0.3rem 0;
}